<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
</head>
<body>
  <h1>Welcome <%= user.name %>!</h1>
  <p>Age: <%= user.age %></p>

  <h2>Available Products:</h2>
  <ul>
    <% products.forEach(function(product){ %>
      <li><%= product %></li>
    <% }); %>
  </ul>
</body>
</html>
